/* Cart.module.css */

:root {
  --deep-sea-green: #085b5e;
  --cararra: #e2e3dc;
  --tulip-tree: #ebac3f;
  --caribbean-green: #0ecfae;
  --vesuvius: #b5540d;
  --acapulco: #86b39b;
  --straw: #d2c87a;
  --jet-stream: #b2d2d0;
  --wheat: #f1dcac;
  --gray-chateau: #a5acaf;
}

.cartContent {
  width: 100dvw;
  height: 100dvh;
  padding: 10px;
  background-color: var(--deep-sea-green);
  box-sizing: border-box;
}

.cartTitle {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.cartList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--acapulco);
  overflow-y: auto;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  font-size: 14px;
  color: var(--caribbean-green);
  border-bottom: 1px solid #eee;
}

.cartItem:last-child {
  border-bottom: none;
}

.cartLink {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

.cartSelect {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px;
}

.cartPrice {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  color: #333;
}

.cartButton {
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  border: none;
}

.totalCost {
  color: white;
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
}


/* CSS */
.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


.addButton {
  background-color: #4caf50;
  color: white;
}

.buyButton {
  background-color: #2196f3;
  color: white;
}

.clearButton {
  background-color: #4caf50;
  color: white;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
  margin-right: 10px;
}

.saveButton {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
}

.loadButton {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #2196f3;
  color: white;
  border: none;
}

.deleteButton {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  border: none;
  width: 55px;
}
