.loaderContainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #5F9389; /* Background color */
  z-index: 1000;
}

.infinitySvg {
  width: 200px;
  height: 100px;
}

.infinityPath {
  fill: none;
  stroke: #efb84e; /* Path color */
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 400; /* Total length of the path */
  animation: draw 2s linear infinite;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.canvaLogo {
  border-radius: 20px;
  width: 250px;
}