.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
  }
  
  :root {
    --deep-sea-green: #085b5e;
    --cararra: #e2e3dc;
    --tulip-tree: #ebac3f;
    --caribbean-green: #0ecfae;
    --vesuvius: #b5540d;
    --acapulco: #86b39b;
    --straw: #d2c87a;
    --jet-stream: #b2d2d0;
    --wheat: #f1dcac;
    --gray-chateau: #a5acaf;
  }
  
  
  .form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
  }
  
  .input {
    padding: 10px;
    border: 1px solid var(--gray-chateau);
    border-radius: 5px;
  }
  
  .button {
    padding: 10px;
    background-color: var(--deep-sea-green);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #074c4e;
  }

  .box{
    background-color: #f2f5f5;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .links {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .error {
    color: var(--vesuvius);
    font-size: 12px;
  }
  