.product {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Two-column grid */
  gap: 20px; /* Space between columns */
  padding: 40px;
  background-color: #ffffff; /* Light background */
  min-height: 90vh;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 100%; /* Allow responsive scaling */
  display: flex;
  justify-content: center;
}

.image img {
  width: 100%;
  height: auto;
  max-width: 300px; /* Limit image width */
  border-radius: 8px;

  border: 3px solid #085b5e; /* Light background */
  
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px; /* Add spacing around content */
}

.title {
  font-size: 2rem; /* Larger title font */
  color: #08caa5;
  margin-bottom: 10px;
  font-weight: bold; /* Highlight the title */
}

.price {
  font-size: 1.2rem; /* Slightly larger for better visibility */
  color: #08caa5;
  margin-bottom: 20px;
}

.productActions {
  display: flex;
  flex-wrap: wrap; /* Wrap buttons if they don't fit */
  justify-content: center;
  gap: 15px; /* Space between action buttons */
  margin-top: 20px;
}

.favoriteButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: red;
  transition: transform 0.2s ease-in-out;
}

.favoriteButton:hover {
  transform: scale(1.2); /* Enlarge slightly on hover */
}

.link {
  font-weight: bold;
  font-size: 1rem;
  background-color: #08caa5;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.link:hover {
  background-color: #527D74; /* Darker on hover */
}

.cartButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.cartButton:hover {
  transform: scale(1.2); /* Enlarge slightly on hover */
}


.sharedCartButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #527D74;
  transition: transform 0.2s ease-in-out;
}

.sharedCartButton:hover {
  transform: scale(1.2); /* Enlarge slightly on hover */
}

.nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-between; /* Align nav buttons across the screen */
}

.navButton1{
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: #08caa5;
  color: white;
  margin: 10px;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}
.navButton1:hover {
  background-color: #527D74;
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.navButton {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: #08caa5;
  color: white;
  margin: 10px;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.navButton:hover {
  background-color: #527D74;
  transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  .product {
    grid-template-columns: 1fr; /* Stack content vertically */
    gap: 30px; /* Increase spacing for better readability */
  }

  .productInfo {
    padding: 0;
  }

  .productActions {
    flex-direction: column; /* Stack buttons */
    gap: 10px; /* Reduce gap for smaller screens */
  }
}

.modal {
  color: #085b5e;
}

.modalHeader {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.backButton {
  background-color: #527D74;
  color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.groupItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


.chevron {
  transition: transform 0.5s;
}
.chevron:hover,
.chevron:active,
.chevron.clicked {
  transform: rotate(90deg);
  transition: transform 0.5s;
  transform-origin: center;
}

.occasionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}